<ion-view view-title="Gestion Bus">
    <ion-content>
      <div class="row">
        <div class="col col-50">
        <div id="map" data-tap-disabled="true" style="height:91vh;" ></div>
        </div>
        <div class="row col col-50">
            <button class=" button button-calm" ng-click="addBus()"><i  class="icon ion-android-add-circle" ></i> Ajouter Bus</button>
            <label class="item item-input ion-android-search" >
             <input type="text" style="padding-left:10px;" placeholder="rechercher un bus.." ng-model="search">
            </label>
            <ion-scroll has-bouncing="true"  direction="y" style="overflow: hidden;height: 470px;">
            <ion-list show-reorder="true" style="margin-top:10px;">

              <div ng-repeat="b in bus |filter:search">
                <ion-item id="modif{{$index}}" class="enable-pointer-events" >
                  <a ng-if="b.voyage!=null" class="item-icon-left dark"style="text-decoration: none;">
                   <i  class="icon ion-android-bus positive " ></i>
                   {{b.matricule}} affecté à la ligne {{b.voyage.dateDepart | date: hh:mm}}
                 </a>
                 <a ng-if="b.voyage==null" class="item-icon-left dark"style="text-decoration: none;">
                  <i  class="icon ion-android-bus stable " ></i>
                  {{b.matricule}} non affecté
                </a>
                  <a style="float:right;"  ng-click="affecter(b)"> <i class="icon item-icon-left ion-android-settings"></i></a>
                  <a style="float:right;"  ng-click="removeBus(b,$index)"><i class="enable-pointer-events icon item-icon-left ion-android-cancel"></i></a>
               </ion-item>
              </div>
            </ion-list>
          </ion-scroll>
        </div>
        </div>
    </ion-content>
</ion-view>