<ion-view class="category-feeds-view">
  <ion-nav-title>
    <span>Comptes de paiement</span>
  </ion-nav-title>

   <ion-content >
      <div class="row">
         
      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>
     
      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>

      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>
     
      
      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>
     
      </div>

      <div class="row">
         
      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>
     
      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>

      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>
     
      
      <div class ="card">
        <div class="item item-image">
        <img src="img/card-saopaolo.png"/>

        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
        </div>
      </div>
     
      </div>
    
  </ion-content>
</ion-view>