<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        
        <div class="user-name">{{user.User.name}}</div>
        <div class="user-twitter">{{user.User.email}}</div>
      </div>
     
    </div>
      <div class="user-bio">
       <form name="signup_form" class="" novalidate>
            <div class="item item-body">
              <label class="item item-input">
                <input type="email" placeholder="{{user.User.email}}" name="user_email" ng-model="user.email" required>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="{{user.User.name}}" name="user_name" ng-model="user.name" required>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="{{user.User.login}}" name="user_login" ng-model="user.login" required>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Enter your password" name="user_password" ng-model="user.password" required show-hide-input>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-assertive button-block" ng-click="signup()" ng-disabled="signup_form.$invalid">
                Sign Up
              </button>
            </div>
          </form>
    </div>
  </ion-content>
</ion-view>
